<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Verify your email address</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body
  style="
    width: 100%;
    margin: 0px;
  "
>
  <table
    style="
      width: 100%;
      max-width: 600px;
      color: #000;
      font-size: 16px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      line-height: 24px;
      border-radius: 10px;
      border: 0px;
      border-collapse: collapse;
      padding: 0;
      background-color: #f5f5f5;
      margin: 0px auto;
      overflow: hidden;
    "
  >
    <tr>
      <td
        style="
          height: 100px;
          border-bottom: 3px solid #fff;
          background-color: #fff;
        "
      >
        <img
          src="https://drive.google.com/uc?export=view&id=1Zw1TwfY9y-FKcp9ZltmshG9QdffNKT4Y"
          width="300"
          height="59"
          alt="International Pentacostal Assembly"
          title="International Pentacostal Assembly"
          style="
            margin-left: 20px;
          "
        />
      </td>
    </tr>
    <tr>
      <td>

      

        <table
          style="
            border: 0px;
            padding: 35px;
          "
        >
          <tr>
            <td
              style="
                margin-bottom: 10px;
              "
            >[[[_ACCOUNT_FIRSTNAME_]]],</td>
          </tr>
          <tr>
            <td
              style="
                font-size: 22px;
                font-weight: 400;
                padding: 20px 0px;
              "
            >
              Thank you for signing up!
            </td>
          </tr>
          <tr>
            <td>
              For security reasons, you are expected 
              to verify the ownership of the email address you used to register.
              Upon successful verification, you will be asked to create a strong password.
              Your account will be activated immediately after verification.
            </td>
          </tr>
          <tr>
            <td
              style="
                font-size: 14px;
                padding: 25px 0px;
              "
            >
              Account Email: <br/>
              <span
                style="
                  color: #E91E63;
                  font-size: 18px;
                "
              >[[[_ACCOUNT_EMAIL_]]]</span>
            </td>
          </tr>
          <tr>
            <td>
              <a
                href="[[[_VERIFICATION_URL_]]]"
                style="
                  color: #3f51b5;
                  text-decoration: none;
                "
              >
                <table
                  style="
                    display: inline-block;
                    vertical-align: middle;
                    min-width: 200px;
                    border: 0px;
                    border-collapse: collapse;
                    padding: 0;
                  "
                >
                  <tr>
                    <td
                      style="
                        min-width: 200px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 500;
                        text-align: center;
                        letter-spacing: 1px;
                        border-radius: 5px;
                        padding: 12.5px 0px;
                        border-radius: 5px;
                        background-color: #3f51b5;
                      "
                    >Confirm Email</td>
                  </tr>
                </table>
              </a>
            </td>
          </tr>
          <tr>
            <td
              style="
                padding: 25px 0px;
              "
            >
              Or, copy and paste the following web address into a browser.
              <a
                href="[[[_VERIFICATION_URL_]]]"
                style="
                  display: block;
                  width: 100%;
                  max-width: 600px;
                  color: #3f51b5;
                  text-decoration: none;
                  word-wrap: break-word;
                "
              >[[[_VERIFICATION_URL_]]]</a>
            </td>
          </tr>
        </table>







      </td>
    </tr>
  </table>
</body>
</html>
